.product-card {
  height: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  border: 1px solid #eee;
  justify-content: space-between;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* IMAGE */
.product-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

/* NAME */
.product-card p:nth-of-type(1) {
  font-size: 14px;
  font-weight: 500;
  color: #222;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  min-height: 40px;
}

/* PRICE */
.product-card p:nth-of-type(2) {
  color: #e53935;
  font-weight: 700;
  font-size: 16px;
  margin: 4px 0;
}

/* DESCRIPTION */
.product-card p:nth-of-type(3) {
  font-size: 13px;
  color: #666;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-spec{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
}

.product-spec-item{
  border: 1px solid #e1e1e1;
  padding: 7px;
  border-radius: 8px;
  font-size: 10px;
}
