.auth-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.auth-form{
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    border-radius: 18px;
}