.box-categories{
    background-color: #fff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.title-sidebar{
    font-size: 16px;
    font-weight: 600;
}

.sidebar-client-item{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #555;
}

.nav-link{
    border-radius: 8px;
}

.nav-link:hover{
    background-color: #e1e1e1;
}

.carousel-indicators button{
    background-color: var(--color-primary) !important;
}

.slider-wrapper{
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 8px;
}