@import "./variable.css";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@500;700&display=swap";

*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

