@import "./variable.css";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@500;700&display=swap";

*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.loading-overlay {
  position: fixed;        /* cover toàn màn hình */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* mờ nền */
  display: flex;
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center;     /* căn giữa theo chiều dọc */
  z-index: 9999;           /* nổi trên tất cả */
}
